body
{
    background-color: #ffffff;
}

.btn a {
  color: #fff;
  text-decoration: none;
} 

.container h1
{
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  position: relative;
  right: 230px;
  top: 80px;
}
#aboutme
{
    background-color: #721817;
}
#experience
{
    background-color:#FA9F42;
}
#projects
{
    background-color:#2B4162;
}
#contact
{
    background-color:#0B6E4F;
}
#image img
{
    width: 35%;
    height: auto;
    position: relative;
    left: 140px;
    
}
  
  #typing
  {
     color:#0c0a0a;
     font-family: monospace;
     font-size: 50px;
     position: relative;
     right: 150px;
     top: 80px;
     text-decoration: none;
     }
*
     {
        font-family: monospace;
     }
.subwork
{
    font-size: 25px;
    background-color: #f4f3f0;
}

.card {
    transition-duration: 2s;
    border: none !important;
    border: 5px solid black;
}

/* timeline */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#exp {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

p
{
  text-align:center;
}

ul {
  padding: 30px 0;
}

ul li {
  position:relative;
  list-style-type: none;
  width: 6px;
  background-color: #2B4162;
  margin: 0 auto;
  padding-top: 50px;
  font-size: 18px;
}

ul li::after {
  background: #FA9F42;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: 0;
  }


ul li div{
  position: relative;
  width: 400px;
  padding: 15px;
  border-radius: 5px;
  bottom: 0;
  background: rgba(252, 252, 252, 0.28);
}

ul li:nth-child(odd) div {
  left: 45px;
}

ul li:nth-child(even) div {
  left: -445px;
}

time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

ul li:nth-child(odd) div {
  transform: translate3d(20px, 0, 0);
}

ul li:nth-child(even) div {
  transform: translate3d(-20px, 0, 0);
}

ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  ul li div {
    width: 250px;
  }
  ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}